<div class="d-flex flex-column align-items-center">
    <div class="mb-3">
        <i class="bi bi-files text-info" style="font-size: 4rem;"></i>
    </div>

    <h5 class="modal-title mb-2" id="duplicateModalLabel">
        Are you sure to duplicate <em>@Model</em>?
    </h5>
    <p class="text-primary"><strong>This will create a copy of the article.</strong></p>
</div>