<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Account/Index">Manage Accounts</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Category/Index">Manage Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Article/Index">Manage Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Article" asp-action="Index">Manage Tags</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Report" asp-action="Index">Reports / Statistics</a>
</li>